body
{
    background-color: rgb(241, 236, 207);
    font-family: sans-serif;
}
#heading
{
    color:rgb(101, 103, 245);
    background-color: rgb(240, 192, 228);
}
.box
{
    height: 8rem;
    width: 8rem;
    background-color: rgb(199, 140, 238);
    font-size: 1em;
    text-align: center;
}