body
{
    background-color: rgb(241, 236, 207);
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    height: 100vh;
}
#first
{
    background-color: lightsteelblue;
    color: rgb(182, 86, 238);
    padding: .8em;
    font-weight: bold;
    font-size: 3em;
}
#second
{
    background-color: rgb(252, 178, 109);
    color: crimson;
    padding: .8em;
    font-weight: bold;
    font-size: 3rem;
}